{% extends "layout.html" %}

{% set page = "top10" %}

{% block title %}
	DASP - TOP 10
{% endblock %}

{% block content %}
<!-- message -->
<section class="welcome">
<!--	<h4 class="alert-heading"><i class="far fa-comment"></i> Welcome.</h4>-->
	<p>This is the very first iteration of the <i class="fab fa-ethereum"></i> <strong>Decentralized Application Security Project</strong> (or <strong>DASP</strong>) <strong>Top 10</strong> of <strong>2018</strong> </p>
	<hr>
	<p class="mb-0">This project is an initiative of <a href="https://www.nccgroup.trust" target="_blank">NCC Group</a>. It is an open and collaborative project to join efforts in discovering smart contract vulnerabilities within the security community. To get involved, <a href="https://github.com/CryptoServices/dasp" target="_blank">join the <i class="fab fa-github"></i> github page</a>.</p>
</section>

<!-- grid -->
<div class="row">
	<div class="col-3">

		<!-- aside navbar -->
		<nav id="top10" class="navbar navbar-dark bg-light d-none d-xl-block" style="position: -webkit-sticky;position: -moz-sticky;position: -ms-sticky;position: -o-sticky;position: sticky;top:15px;">
			<nav class="nav nav-pills flex-column">
				{% for vuln in vulnList %}
				<a class="nav-link" href="#item-{{loop.index}}">{{loop.index}}. {{vuln[0]}}</a>
				{% endfor %}
			</nav>
		</nav>

	</div>
	<div class="col" data-spy="scroll" data-target="#top10"  data-offset="0">
		{% for vuln in vulnList %}
		{{vuln[1]}}
		{% endfor %}
	</div>
</div>
{% endblock %}